:root {
  --green: #5cb948;
  --lightgreen: #9dd591;
  --gray: #add9bf;
  --orange: #f26630;
  --lightgray: #cee8d9;
  --bg-color: #ebfff3;
}

* {
  margin: 0;
}

body {
  margin: 0;
  color: #607368;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
}

.container {
  max-width: 1200px !important;
  padding: 0 20px;
}

h2 {
  font-size: 36px !important;
  position: relative;
  width: fit-content;
  margin: 0;
  font-weight: 700 !important;
}

h3 {
  position: relative;
  font-size: 26px !important;
  font-weight: 600 !important;
  margin-bottom: 10px !important;
}

h4 {
  color: #000;
  font-size: 24px !important;
  font-weight: 600 !important;
  margin-bottom: 10px !important;
}

h5 {
  color: #000;
  font-size: 18px !important;
  font-weight: 600 !important;
  margin-bottom: 5px !important;
}

section {
  padding: 40px 20px;
}

header {
  padding: 20px;
  padding-top: 30px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

header .brand-logo {
  height: 100px;
  width: 200px;
  object-fit: contain;
}

header .navigation {
  display: flex;
  gap: 20px;
  background-color: #daf2e3;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  justify-content: space-around;
  width: 100%;
  margin: 0 10%;
}

header .navigation li {
  font-weight: 600;
}

.banner {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(103, 223, 152, 1) 100%
  );
  height: 500px;
  border-radius: 15px;
  width: 100%;
  margin-top: -140px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.banner-content {
  font-size: 18px;
}

.our-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  padding-top: 0;
}

.story-title::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 100px;
  bottom: 12px;
  left: -110px;
  background-color: var(--green);
  border-radius: 0 10px 0 10px;
}

.story-title::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 100px;
  bottom: 12px;
  right: -110px;
  background-color: var(--green);
  border-radius: 0 10px 0 10px;
}

.our-story p {
  max-width: 350px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 5px;
}

.quotes {
  max-width: 960px;
}

.quotes .quotes-connector {
  position: absolute;
  height: 50px;
  z-index: -1;
}

.quotes .quote-item {
  height: 300px;
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}

.quotes .quote-item span {
  font-weight: 600;
}

.quotes .quote-item::after {
  position: absolute;
  content: "";
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: var(--green);
  border-radius: 100% 0px;
  z-index: -1;
  transform: rotate(45deg);
}

.quotes .quote-item::before {
  position: absolute;
  content: "\275D";
  left: calc(50% - 20px);
  font-size: 50px;
  color: #81cb74;
  z-index: 2;
}

.quotes .quote-item.quote-1::before {
  top: 75px;
}

.quotes .quote-item.quote-2::before {
  bottom: 75px;
  transform: rotate(180deg);
}

.products-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.products-bg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
}

.our-products h2 {
  margin-bottom: 20px;
}

.our-products h2::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 100px;
  top: -20px;
  left: 0px;
  background-color: var(--green);
  border-radius: 0 10px 0 10px;
}

.our-products .product-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 60px;
}

.our-team {
  padding-top: 80px;
}

.our-team-bg {
  position: absolute;
  top: -155px;
  right: -40px;
  z-index: -2;
}

.our-team p {
  font-weight: 600;
}

.our-team .border-right {
  position: relative;
  padding-right: 40px;
}

.our-team .border-right::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 20px;
  top: 0;
  right: 0;
  background-color: var(--green);
  border-radius: 10px 0 10px 0;
}

.product-item .product-img,
.ingredient-img {
  height: 350px;
  width: 350px;
  background-color: var(--lightgray);
  border-radius: 15px;
  overflow: hidden;
}

.product-item .product-img img,
.ingredient-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-item li {
  color: #000;
  margin-bottom: 8px;
  line-height: 1.7;
}

.product-item p {
  color: #000;
  line-height: 1.8;
  margin-bottom: 10px;
}

.product-item .custom-list-style li {
  position: relative;
  padding-left: 25px;
}

.product-item .custom-list-style li::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 2px;
  height: 15px;
  width: 15px;
  background-color: var(--gray);
  border-radius: 0px 100%;
}

.no-sugar-text {
  font-size: 28px;
  line-height: 1.3;
  color: #000;
  font-weight: 700;
  margin: 40px 0;
  text-align: center;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.no-sugar-text span {
  color: var(--orange);
}

.no-sugar-text::before {
  position: absolute;
  content: "";
  left: -50px;
  top: -50px;
  height: 50px;
  width: 50px;
  background-color: var(--green);
  border-radius: 100% 0;
  transform: rotate(90deg);
}

.no-sugar-text::after {
  position: absolute;
  content: "";
  right: -50px;
  bottom: 12px;
  height: 50px;
  width: 50px;
  background-color: var(--orange);
  border-radius: 100% 0;
}

.mission-bg {
  position: absolute;
  top: 155px;
  left: 15px;
  z-index: -2;
}

.mission-vision .mission,
.mission-vision .vision {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission-vision .para-block {
  min-height: 80px;
  width: 100%;
  max-width: 380px;
  padding: 15px 40px;
  text-align: center;
  background-color: var(--lightgreen);
  color: #000;
}

.mission-vision .mission .para-block {
  border-radius: 0 50px 0 50px;
}

.mission-vision .vision .para-block {
  border-radius: 50px 0 50px 0;
}

.simply-vegan-para {
  color: #000;
  font-size: 28px;
  text-align: center;
  max-width: 600px;
}

.benefits-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.benefits h3 {
  width: fit-content;
}

.benefits h3::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 100px;
  top: -25px;
  left: 0;
  background-color: var(--green);
  border-radius: 0 10px 0 10px;
}

.benefits p,
.ingredients p {
  color: #000;
  line-height: 1.8;
}

.benefits ul {
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

.list-style-disc li {
  list-style: disc;
  list-style-position: inside;
}

footer {
  color: #fff;
  min-height: 500px;
  width: 100%;
  margin-top: 40px;
}

footer .social-icons {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

footer h6 {
  font-size: 16px;
  font-weight: 600;
}

footer .social-icons i {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  header .navigation {
    margin: 0 2%;
  }

  .product-item {
    flex-direction: column;
  }

  .container {
    max-width: 100%;
    overflow-x: hidden;
  }

  footer {
    background-color: var(--green);
    height: fit-content;
    min-height: 200px;
  }
}
